{% extends "layout.html" %}

{% block title %}
    Buy Stock / Stocks
{% endblock %}

{% block main %}
<div class="text-warning"> {{message}} <br> <br> </div>

    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol e.g. NVDA for Nvidia..." type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="quantity" name="quantity" placeholder="Enter a whole number greater than 0..." type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy Stock</button>
    </form>
{% endblock %}