{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<div class="text-success"> {{stock_traits.name}}{{message}} <br> <br> </div>

<table class="table table-striped border border-dark">
<thead>
    <tr>

        {% for key in stock_traits %}
        <th>
            {{key}}
        </th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    <tr>

            {% for key in stock_traits %}
            <td>
                {{stock_traits[key]}}
            </td>
            {% endfor %}
    </tr>
</tbody>
</table>

{% endblock %}