{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<h1>Register</h1>

<h2 class="text-warning">
{{error_message}}
</h2>

<form action="/register" name="registration" method="post">
<div class="mb-3">
    <input name="username" id="username" class="form-control mx-auto w-auto" autocomplete="off" placeholder="Enter your username" autofocus type="text">
</div>
<div class="mb-3">
    <input name="password" id="password" autocomplete="off" class="form-control mx-auto w-auto" placeholder="Enter your password" autofocus type="text">
</div>
<div class="mb-3">
    <input name="confirmation" id="confirmation" autocomplete="off" class="form-control mx-auto w-auto" placeholder="Please re-enter your password" autofocus type="text">
</div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
